# Appwrite Configuration
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your-project-id
APPWRITE_API_KEY=your-api-key
APPWRITE_DATABASE_ID=your-database-id
APPWRITE_PRODUCTS_COLLECTION_ID=your-products-collection-id
APPWRITE_CATEGORIES_COLLECTION_ID=your-categories-collection-id
APPWRITE_BUCKET_ID=your-bucket-id

# JWT Security
JWT_SECRET=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# CORS Configuration
FRONTEND_URL=http://localhost:3000
